/* Center the form */
.form-container {
	border: 1px solid blue;
	padding: 30px 20px;
	max-width: 50%;
	margin-inline: auto;
}

.form-container h1 {
	margin-bottom: 20px;
}

.form-container input,
.form-container textarea {
	width: 100%;
	font-size: 16px;
	padding: 5px 10px;
}

.form-container textarea {
	resize: none;
	min-height: 300px;
}

.form-container form {
	position: relative;
}

button.add-icon{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 30px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

button.add-icon:hover{
    background-color: #04AA6D;
}
